apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ storage_amount }}
  storageClassName: {{ pv_storage_class }}



